/build/
/data/_config/MapView3/
/data/_config/MCDedit/
/data/GEODATA/
/data/GEOGRAPH/
/data/MAPS/
/data/Resources/
/data/ROUTES/
/data/TERRAIN/
/data/UFOGRAPH/
/data/UFOINTRO/
/data/UNITS/
/deps/
/nbproject/

Makefile
.dep.inc
README.txt
CHANGELOG.txt

*.o
*.d
*.gch
